@page
@model ParkNet_Cristovao.Machado.Pages.Deposit.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Transactions</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transactions.Customer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transactions.Customer.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transactions.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transactions.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transactions.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transactions.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Transactions.Value)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Transactions.Value)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Transactions.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
