@page
@model ParkNet_Cristovao.Machado.Pages.Tickets.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>TicketRequestModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketRequestModel.VehicleId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketRequestModel.VehicleId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketRequestModel.StartDate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketRequestModel.StartDate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketRequestModel.Parkid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketRequestModel.Parkid)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TicketRequestModel.Userid)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TicketRequestModel.Userid)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="TicketRequestModel.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
