@page
@model ParkNet_Cristovao.Machado.Pages.Tickets.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.TicketRequestModel[0].VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketRequestModel[0].StartDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketRequestModel[0].Parkid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TicketRequestModel[0].Userid)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.TicketRequestModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Parkid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Userid)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
