@page
@model ParkNet_Cristovao.Machado.Pages.PermitRequest.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.permits[0].Vehicle.Plate)
            </th>
            <th>
                ParkingSpaceName
            </th>
            <th>
                @Html.DisplayNameFor(model => model.permits[0].EndDate)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model._PermitShareModel) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Plate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ParkingSpaceName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                <a asp-page="./Details" asp-route-id="@item.PermitId">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.PermitId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
