@page
@model ParkNet_Cristovao.Machado.Pages.ParkEditor.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>ParkInfo</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            @if(Model.Park.Count == 0)
            {
                <th>
                    No parks found! Please create a new park.
                    
                </th>
            }
else
            {
                <th>
                    @Html.DisplayNameFor(model => model.Park[0].Name)
                </th>
                <th></th>
            }
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Park) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                <a asp-page="./Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-page="./Details" asp-route-id="@item.Id">Details</a> |
                <a asp-page="./Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
